{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 

    }) 
	$( ".start_date" ).datepicker({
	  defaultDate: +7
	});

</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<script>

    $(document).ready(function(){
    document.getElementById("my_date_picker").value = localStorage.getItem("my_date_picker");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("my_date_picker",document.getElementById("my_date_picker").value);
  });

	</script>
	<script>

    $(document).ready(function(){
    document.getElementById("my_date_picker1").value = localStorage.getItem("my_date_picker1");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("my_date_picker1",document.getElementById("my_date_picker1").value);
  });

	</script>
	<script>

    $(document).ready(function(){
    document.getElementById("active").value = localStorage.getItem("active");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("active",document.getElementById("active").value);
  });

	</script>

<style>
	th{
	text-align: center !important;
	padding: 7px !important;
	border: 1px white;
}

</style>
<style>
    .css-serial {
 counter-reset: serial-number; 
}
.css-serial td:first-child:before {
 counter-increment: serial-number;
 content: counter(serial-number); 
}
th{
    text-align: center !important;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-xs-12">
			<br><button type="button"><a href="/couponreport/pdf/{{cpCode}}/{{PStDate}}/{{PEndDate}}/{{active}}/" target="_blank"> PDF Download</a></button>&emsp;
			<button type="button"><a href="/excel-coupon-report/{{cpCode}}/{{PStDate}}/{{PEndDate}}/{{active}}/" target="_blank"> Excel Download</a></button><br>
			<form method="POST" action="" enctype=""><br>
				{% csrf_token %}
				<label for="fname"><b> Validity Start Date</b> </label>
				<input class="border_right " type="date" onfocus="(this.type='date')" onblur="(this.type='date')" id="my_date_picker" name="PStDate" placeholder="Enter MM/DD/YYYY" required="" value="{{start_of_m|date:'Y-m-d'}}">
				<!--<input class="border_foot start_date" type="date" id="my_date_picker" name="date_from" placeholder="Enter MM/DD/YYYY" required="">-->
				<label for="fname"> <b>Validity End Date</b></label>
				<input class="border_right" type="date" onfocus="(this.type='date')" onblur="(this.type='date')" id="my_date_picker1" name="PEndDate" placeholder="Enter MM/DD/YYYY" value="{{end_of_m|date:'Y-m-d'}}" required="">
				
				<!--<input class="border_foot" type="date" id="my_date_picker" name="date_to" placeholder="Enter MM/DD/YYYY" required="">-->
				<label for="fname"><b>Code</b>  </label>
				<select name="CodeE">
				    <option value="all">All</option>
				    {% for coupon in coupon %}
						    <option value="{{coupon.cpCode}}">{{coupon.cpCode}}</option>
				  	{% endfor %}
			  	</select>
			  	<!--<label for="fname"><b>Center</b> </label>
				<select name="centercode">
				    <option value="all">All</option>
				    {% for center in center %}
						    <option value="{{center.centre_code}}">{{center.centre_code}}</option>
				  	{% endfor %}
                  </select>-->

                   <label><b>Active</b></label>
			  	<select name="active" value="{{al.active}}" id="active" required>
			  	<option value="all">all</option>
				<option value="yes">yes</option>
				<option value="no">no</option>	
				</select>

				  <button type="submit" class="btn btn-primary btn-lg" id="getdata" value=""> Get Data </button>
				<br><br>
			</form>
			<table class="css-serial">
				<thead>
					<tr>
   						 <th colspan="11" class="title_dash" style="text-transform: capitalize;background-color: #5d50c6 !important;">Coupon Report</th>
  					</tr>
  				</thead>
			
				<thead style="background-color: #69bc5f !important;" id="centershow">
					<tr>

						
					</tr>
				</thead>
			
				<thead style="background-color: #69bc5f !important;">
					<tr>
						<th width="5%" class="school_activity">S.NO</th>
						<th width="10%" class="school_activity"> Code</th>
                        <th width="10%" class="school_activity"> Name</th>
                        <th width="10%" class="school_activity">Validity Start date</th>
						<th width="10%" class="school_activity">Validity End date</th>
						<th width="10%" class="school_activity">Value(in Rs.)</th>
						<th width="10%" class="school_activity">Product Code</th>
						<th width="10%" class="school_activity">Discount(%)</th>
						<th width="10%" class="school_activity">Quantity From</th>
						<th width="10%" class="school_activity">Quantity To</th>
						<th width="10%" class="school_activity">Active</th>
						
						<!--<th width="10%" class="school_activity">Receviable</th>
						<th width="10%" class="school_activity">Payment</th>-->
					</tr>
				</thead>
				<tbody>
					{% for al in al %}
					<tr>
						<td style="text-align:center !important"></td>
						<td style="text-align:center !important">{{al.cpCode}}</td>
						<td style="text-align:center !important">{{al.cpName}}</td>
						<td style="text-align:center !important">{{al.PStDate|date:'d-m-Y'}}</td>
						<td style="text-align:center !important">{{al.PEndDate|date:'d-m-Y'}}</td>
						<td style="text-align:center !important">{{al.CoupValue}}</td>
						<td style="text-align:center !important">{{al.PCode}}</td>
						<td style="text-align:center !important">{{al.discnt}}</td>
						<td style="text-align:center !important">{{al.qty_from}}</td>
						<td style="text-align:center !important">{{al.qty_to}}</td>
						<td style="text-align:center !important">{{al.active}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="{% static 'js/ajax-jquery.min.js' %}"></script>
<script type="text/javascript">
/*$("#displaytable").hide();
*/
$(document).ready(function(){
	/*$("#centerhide").hide()
		$('#centershow').click(function() {
		
			

			$("#centerhide").show()
			
		
	});*/
});

$(document).ready(function(){

    $('[name="start_date"]').val( '{{start_of_yr | date:"m/d/yy"}}' );
    $('[name="end_date"]').val( '{{end_of_yr | date:"m/d/yy"}}' );
});
</script><br><br><br>
{% endblock %}