{% extends "header.html" %}
{% block title %}JacknJill{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker().datepicker("setDate", new Date()); 
        }); 
    }) 
</script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready( function() {
var time = new Date();

  var shift = time.toLocaleString('en-US', { hour: 'numeric', hour12: true });
  
  $('#shift').val(shift);
});</script>
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<style type="text/css">
	table 
	{
	  border-collapse: collapse !important;
	  /*width: 100%;*/
	}
td 
	{
  		border: 1px solid #000000 !important;
  		text-align: left; !important;
  		padding: 6px !important;
	}
th{
	text-align: center !important;
	padding: 6px !important;
	border: 1px solid #000000 !important;
}
.no_pad{
	padding-left:0px !important;
	padding-right: 0px !important;
}
.td_border{
	border:none !important;
}
.td_border input{
	width:55% !important;
}
th{
	
	color:#000 !important;
}
input[type=shift]{
	width:50px !important;
}  
input[type=date]{
	width:150px !important;
} 
input[type=text] {
	width:100px !important;
}
 input{
	width:70px !important;
}

.scroll{
	overflow-y: auto;
	overflow-x: auto;
	height: 200px;
	margin-top: 0px;
	width: 100%;
	white-space: nowrap;
}
	
.scroll thead th {
	position: sticky;
    top: 0;
        
	}
</style>

<div class="container">
	<h2><b><center> Daily Sale Entry</center></b></h2>
	<!--<div style="border:1px solid #dddddd;padding:10px;margin:10px;">-->
			
			<div class="col-md-85 col-sm-85 col-xs-85">
				
					<form  method="POST"  action="/dailySales/" enctype="">
						{% csrf_token %}
						<div class="col-md-05 col-sm-07 col-xs-09">
							<!--<h6><b>Daily Sale Entries</b></h6>-->
							<label><b>Branch</b></label>&ensp;
							<input type="text" name="branch11" value="{% if user.is_authenticated %}{{user.extendeduser.branch}}{%endif%}" disabled>
						  	<label><b>Date</b></label>&ensp;
							<input type="date" id="datePicker" name="dateform" placeholder="Enter YYYY-MM-DD" required="" value="{{curdate}}">&emsp;&emsp;
							<label for="fshift"><b>Shift</b></label>&ensp;
							<select name="time" id="time">
							    <option value="AM">AM</option>
							    <option value="PM">PM</option>
						  	</select> &emsp;&emsp;
						  	<label> <b>Bulk / Retail </b></label>&ensp;
							<select name="goodsour" id="goodsour">&emsp;&emsp;
							    <option value="good">Bulk</option>
							    <option value="sour">Retail</option>
						  	</select>&emsp;&emsp;
						</div>
							<br>
						<!--<div class="col-md-22 col-sm-22 col-xs-22" style="border: 1px solid #dddddd;">
						<h6>Cow Milk</h6> -->
			  	    		<div class="col-md-15 col-sm-12 col-xs-12  no_pad">		<!--<table>
			  	    				<tr>						            	
						                <th>Center</th>						     
						                <th>Milk Type </th>
						                <th>Samp No</th> 
						                <th>Can</th>
						                <th>Qty(Kgs)</th>
						                <th>Fat</th>
						                <th>Clr</th> 
						                <th>Snf</th> 
						            </tr>
						        </thead>
						        <tbody id='form' class="form-block_1">
						            <tr class="odd"  role="row">
						            	
										<td>&emsp;&emsp;&emsp;&emsp;	
											<select name="code[]" id="code_center">
												{% for center in center %}
											    <option value="{{center.centre_code}}-{{center.name}}">{{center.centre_code}}-{{center.name}}</option>
											    {% endfor %}
										  	</select>
										</td>  
						                <td>	&emsp;
											<select name="milktype[]" id="milktype">
											    <option value="cm">CM</option>
											    <option value="bm">BM</option>
										  	</select>
										</td>
						                <td>&emsp;&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" name="samplecode[]" step="any" style="text-align:right" id="samplecode"></td>
						               	<td>&emsp;&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" name="can[]" step="any" style="text-align:right" id="can"></td>
						                
										<td>&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" name="qty[]" step="any" style="text-align:right" id="qty"></td>
						                <td>&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" id="fat" name="fat[]" step="any" style="text-align:right" id="fat"></td>
						                
										<td>&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" id="clr" name="clr[]" step="any" style="text-align:right" id="clr" ></td>
						                
										<td>&emsp;&emsp;
										<input type="number" class="width_percent workflowinputRadius" id="snf" id="snf" name="snf[]"  step="any" style="text-align:right" onclick="myFunction()" onkeyup="myFunction()"onkeyup="myError()"></td>
						               
						                
						            </tr> 
						        </table>-->      
						    
						  	<table class="table display data-table text-nowrap" id ="doctable"  style="width:100%;">
								    
			    
								<thead class="tableHeadcolor">
						            <tr>						            	
						                <th style="background-color: #69bc5f !important;">Customer</th>						     
						                <th style="background-color: #69bc5f !important;">Order No </th>
						                <th style="background-color: #69bc5f !important;">Product</th> 
						                <th style="background-color: #69bc5f !important;">Quantity</th>
						                <th style="background-color: #69bc5f !important;">Coupon</th>
						                <th style="background-color: #69bc5f !important;">Discount</th>
						                <th style="background-color: #69bc5f !important;">Comm</th>
						                <th style="background-color: #69bc5f !important;">Zone</th>
						                <th style="background-color: #69bc5f !important;">Sales Exec</th>
						                <th style="background-color: #69bc5f !important;">Remarks</th> 
						                <!--<th>Snf</th>--> 
						            </tr>
						        </thead>
						        <tbody id='form' class="form-block_1">
						            <tr class="odd"  role="row">
						            	
										<td>	
											<select name="code[]" id="custcode"  style="width:150px">
												{% for customer in customer %}
											    <option value="{{customer.custCode}}" data-name="{{customer.custName}}">{{customer.custCode}}-{{customer.custName}}</option>
											    {% endfor %}
										  	</select>
										</td>  
						                
						                <td>
										
										<input type="number" class="width_percent workflowinputRadius" name="OrderNo[]" step="any" id="order" style="width:50px" required></td>
										
										<td>	
											<select name="prodcode[]" id="Prod-Code"  style="width:125px">
												{% for Prodmaster in Prodmaster %}
											    <option value="{{Prodmaster.PCode}}" data-name="{{Prodmaster.PName}}">{{Prodmaster.PCode}}-{{Prodmaster.PName}}</option>
											    {% endfor %}
										  	</select>
										  	
										</td>
										<td>
										<input type="number" class="width_percent workflowinputRadius" name="qty[]" step="any" style="width:50px" id="Quantity"></td>
										
										<td>
											
											<select name="couponcode[]" id="coupon" style="width:80px">
											    
											    {% for coupon in coupon %}
													    <option value="{{coupon.cpCode}}">{{coupon.cpCode}}</option>
											  	{% endfor %}
										  	</select>
										</td>
										<td>
										<input type="number"  name="disc[]" class="width_percent workflowinputRadius" step="any" style="width:50px" id="Disc"></td>
										<td>
										<input type="number"  name="comm[]" class="width_percent workflowinputRadius" step="any" style="width:30px" id="comm"></td>
										<!--<input type="number"  name="amount[]" class="width_percent workflowinputRadius" step="any" style="width:50px"></td>
										<td>
										<input type="number"  name="unitrate[]" class="width_percent workflowinputRadius" step="any" style="width:50px"></td>
										<td>
										<input type="number"  name="netamount[]" class="width_percent workflowinputRadius" step="any" style="width:50px"></td>-->
						               <td>
											
											<select name="zonecode[]" id="zone" style="width:70px" >
											    {% for zone in zone %}
												<option value="{{zone.zCode}}">{{zone.zCode}}</option>
											  	{% endfor %}
										  	</select>
										</td>
						               <td>
											
											<select name="sales[]" id="sale" style="width:75px" >
											    
											    {% for salesexec in salesexec %}
											    <option value="{{salesexec.SEcode}}" data-name="{{salesexec.SEname}}">{{salesexec.SEcode}}-{{salesexec.SEname}}</option>
											    {% endfor %}
										  	</select>
										</td>
						                <td class = "remarks" >
           								
     									 <input type="text" name="remarks[]"  id="remarks" style="width:300px !important;" > 
     									</td>

						            </tr> 
						           
						       </tbody>
						    </table>
			    		<button type="button" class="btn btn-primary btn-lg"><a class="btn backgroundBlue add-more-btn addDeleteButton">Add</a></button>&emsp;&emsp;
									<button type="submit" class="btn btn-primary btn-lg"  id="submitData" value="" disabled>Submit </button>
									<br></br>
							<div class ="scroll">
			    				<table class="table display data-table1 text-nowrap" style="width:100%;">
							        <tbody id='form' class="form-block_1">   
							       </tbody>
							 	</table>
			 				</div>
						</div>
					</body>
				</div>
			</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			
		
		<br>
		<br>
		<br>
		</form>
	</div>
</div>

<script type="text/javascript">
	document.getElementById('centre_code').onchange = function() {
    alert(this.value);
	}
	// $(document).on("change", "#centercode", function(){
 //        var a =  $(this).find(':selected').data('name');
 //        $("#center_name").val(a);
 //    });
    $(document).on("change", "#code_center", function(){
        var b =  $(this).find(':selected').data('name');
       	
        $("#route").val(b);
        
    });
    // $(document).on("change", "#code_center", function(){
    //     var c =  $(this).find(':selected').data('bankname');
    //     alert(c);
    //     $("#bankname").val(c);
    // });
    // function Amount(val) {
    //     var fat = document.getElementById('fat').value;
    //     var qty = document.getElementById('qty').value;
    //     var snf = document.getElementById('snf').value;
    //     var rate_min = '{{rate.rate}}';
    //    	var quantity = parseFloat(qty)/parseFloat(1.03);
    //    	var a1 = parseFloat(snf) + parseFloat(fat)
    //     var rate = ( a1* parseFloat(rate_min))/100;
    //     var total_amount = parseFloat(rate) * parseFloat(quantity);        
    //     var amount = document.getElementById('rate');
    //     var total = document.getElementById('amount');
    //     total.value = total_amount;
    //     amount.value = rate;
    // }
</script>
<script>
	function deleteRow() {
  document.querySelectorAll('#doctable .select:checked').forEach(e => {
    e.parentNode.parentNode.remove()
  });
}
//$(document).ready(function(){
  //  $('#delrow').click(function(){
    //        $("#doctable input:checkbox").each(function(){
      //          if (this.checked) {
        //             $(this).parent().parent().remove();
          //      }
            //    return false;  

           // })
    //});
    //});

//	$(function(){
//		$(document).on("click",".deleterows",function(){
//			var deleterowsfromtable=$(".form-block_1 input:checked").parents("tr").remove();
//		});
//	});
</script>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.add-more-btn').click(function() {
        	/*var clone = $('.form-block_1:first').clone();
            $('#form-new').append(clone);*/
            var order = document.getElementById("order").value;
			var Quantity = document.getElementById("Quantity").value;
			var Disc = document.getElementById("Disc").value;
			var comm = document.getElementById("comm").value;
			var remarks = document.getElementById("remarks").value;

			  	if(order == "" || Quantity == "" || Disc=="" || comm =="" || remarks =="") {
			    	alert("Please fill all columns");

			    	return false;
			  	}
			  	else {
			
		            var $tableBody = $('.data-table ').find("tbody"),
		            $trFirst = $tableBody.find("tr:first");
				    $trNew = $trFirst.clone();
				    $trFirst.after($trNew);
				   
				   	
		        
		    		var $tableBody1 = $('.data-table1 ').find("tbody");
					($trNew).attr("readonly", true);
					($trNew).each(function () {
		                   $(this).children("td").each(function () {
		                   		$(this).find("input").prop("readonly", true);
		                   	
		                   		//$(this).find("input");
		                   });

		               });
					var rowCount = $('.data-table1 tr').length+1;
					($trNew).prepend($('<td>').append(rowCount));
					$tableBody1.prepend($trNew);
				}
					$("#submitData").prop('disabled', false); //enable
					
					$trNew.find("#custcode").val( $trFirst.find("#custcode").val());
				   	$trNew.find("#Prod-Code").val( $trFirst.find("#Prod-Code").val());
				   	$trNew.find("#coupoun").val( $trFirst.find("#coupoun").val());
				   	$trNew.find("#zone").val( $trFirst.find("#zone").val());
				   	$trNew.find("#sale").val( $trFirst.find("#sale").val());

					
		        });
		    });
		   

</script>
</script>
									
						               


						            </tr>        
						       </tbody>
						    </table>
			    
						</div>
			
			</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	
			

			
		</form>	
		<br>
		<br>
		<br>
		<br>
		
	</div>
</div>


<script>

    $(document).ready(function(){
    document.getElementById("custcode").value = localStorage.getItem("custcode");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("custcode",document.getElementById("custcode").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("Prod-Code").value = localStorage.getItem("Prod-Code");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("Prod-Code",document.getElementById("Prod-Code").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("coupoun").value = localStorage.getItem("coupoun");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("coupoun",document.getElementById("coupoun").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("order").value = localStorage.getItem("order");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("order",document.getElementById("order").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("sale").value = localStorage.getItem("sale");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("sale",document.getElementById("sale").value);
  });

</script>

<script>

    $(document).ready(function(){
    document.getElementById("datePicker").value = localStorage.getItem("datePicker");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("datePicker",document.getElementById("datePicker").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("Disc").value = localStorage.getItem("Disc");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("Disc",document.getElementById("Disc").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("comm").value = localStorage.getItem("comm");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("comm",document.getElementById("comm").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("Quantity").value = localStorage.getItem("Quantity");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("Quantity",document.getElementById("Quantity").value);
  });

</script>
{% endblock %}