{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
	table 
	{
	  border-collapse: collapse !important;
	  /*width: 100%;*/
	}
td 
	{
  		/*border: 1px solid #dddddd !important;*/
  		text-align: left !important;
  		padding: 4px !important;
	}
th{
	text-align: center !important;
	padding: 7px !important;
	/*border: 1px solid #dddddd !important;*/
}
.no_pad{
	padding-left:0px !important;
	padding-right: 0px !important;
}
.td_border{
	border:none !important;
}
.td_border input{
	width:55% !important;
}
.btn_delete{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_delete:hover{
	background-color: rgb(83,4,4);
}
.btn_submit{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_submit:hover{
	background-color: rgb(83,4,4);
}
th{
	
	color:#000 !important;
}
 input{
	width:125px !important;
}
input[type=date]{
	width:150px !important;
}  
.scroll{
    overflow-y: auto;
    overflow-x: auto;
    height: 200px;
    margin-top: 0px;
    width: 100%;
    white-space: nowrap;

}
    
.scroll thead th {
    position: sticky;
    top: 0;
        
} 
.css-serial {
 counter-reset: serial-number; 
}
.css-serial td:first-child:before {
 counter-increment: serial-number;
 content: counter(serial-number); 
}
    th{
    text-align: center !important;
    }

</style>

	</style>
	
<script>
    function myFunction() {
        var bank=document.getElementById("supervisor").value; 
        {
            document.getElementById("supervisor").value = "S";
        }
        }
    </script>

<div class="container">
	<!--<div style="border:1px solid #dddddd;padding:10px;margin:10px;">-->
		<div class="col-md-12 col-sm-12 col-xs-12">
				<h2><b><center>Manage Sales Executive Mster Entries </center></b></h2>

			<form  method="POST"  action="/manage_salesExec/" enctype="">  
				{% csrf_token %}

			<div class="col-md-12 col-sm-12 col-xs-12" id="table_notshow">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class ="scroll">
                        <table class="css-serial">
							<thead class="tableHeadcolor">
					            <tr>
					            	
					            	<th style="background-color: #69bc5f !important;">SE Code</th>
					                <th style="background-color: #69bc5f !important;">Name</th>
					              
					                <th style="background-color: #69bc5f !important;">Zone</th>
					              
					                <th style="background-color: #69bc5f !important;">Zone1</th>
					                <th style="background-color: #69bc5f !important;">Zone2</th> 
					                <th style="background-color: #69bc5f !important;">Joining date</th>
					                <th style="background-color: #69bc5f !important;">End of Contract</th>
					                <th style="background-color: #69bc5f !important;">Active</th>
					                <th style="background-color: #69bc5f !important;">Remove</th>
					            </tr>
					        </thead>
					        <tbody id='form' class="form-block_1">

					            	{% for al in al %}
					            	<tr class="odd"  role="row">
					            		<!-- <td><input type="text" value="{{dc.date}}" name="date" ></td>
					            		 <td><input type="text" value="{{dc.shift}}" name="shift_loc1" ></td>-->
					            		 <!--x = datetime.strptime(request.POST["date"], "%Y-%m-%d")
										<td>{{board.date |date:'d-m-Y'}}</td>				-->
										<input type="hidden" value="{{al.id}}" name="dcid2[]">
					            		<td><input type="text"  value="{{al.SEcode}}" name="code[]" readonly></td>
						                <td ><input type="text" value="{{al.SEname}}" name="name[]" ></td>
						               
						               <td> <select name="route[]"  value ="{{al.Zone_attached}}" id="Route_attached" required>
						               	 
						                <option>Select</option>
 <option value="{{ al.Zone_attached }}" {% if al.Zone_attached == form.al.value %} selected{% endif %} selected>{{al.Zone_attached}}</option>

	  			{% for zone in zone %}
					<option value="{{zone.zCode}}-{{zone.zName}}">{{zone.zCode}}-{{zone.zName}}</option>
				{% endfor %}
			  	</select></td>
						               <td><select name="route1[]"  value ="{{al.Zone_attached1}}" id="{{al.Zone_attached1}}" required>
						                 <option>Select</option>
 <option value="{{ al.Zone_attached1 }}" {% if al.Zone_attached1  == form.al.value %} selected{% endif %} selected>{{al.Zone_attached1 }}</option>

	  			{% for zone in zone %}
					<option value="{{zone.zCode}}-{{zone.zName}}">{{zone.zCode}}-{{zone.zName}}</option>
				{% endfor %}
			  	</select></td>
			
						               
						                <td><select name="route2[]"  value ="{{al.Zone_attached2}}" id="{{al.Zone_attached2}}" required>
						                 <option>Select</option>
 <option value="{{ al.Zone_attached2 }}" {% if al.Zone_attached2  == form.al.value %} selected{% endif %} selected>{{al.Zone_attached2 }}</option>

	  			{% for zone in zone %}
					<option value="{{zone.zCode}}-{{zone.zName}}">{{zone.zCode}}-{{zone.zName}}</option>
				{% endfor %}
			  	</select></td>
			  	{% csrf_token %}   
			  	<td>
			  	 <input type="date" id="datePicker" name="datefrom[]" placeholder="DD/MM/YYYY"  value= "{{al.SEJoinDate|date:'Y-m-d'}}"></td>
                     <td><input type="date" id="datePicker1" name="dateto[]" placeholder=" DD/MM/YYYY"  value="{{al.SELastDate|date:'Y-m-d'}}" ></td>
                     		<td>
                     		<select name="active[]" value="{{al.active}}" id="active" required>

											    <option value="1">yes</option>
											    <option value="0">no</option>
											    <option value="{{ al.active }}" {% if al.active == form.al.value %} selected{% endif %} selected>{{al.active}}</option>
				
																					    
										  	</select>
							</td>
										
						               <td>	
											<select name="remove[]" value="{{dc.id}}">
											    <option value="N">N</option>
											    <option value="Y">Y</option>
										  	</select>
										</td>

						               
					                </tr>        
					                {% endfor %}
					       </tbody>			    
						</table>
					</div>
					
					</div>
					</div>
					</div						
		
					</div>
					</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					<button type="reset" class="btn btn-primary btn-lg" value="Reset"> Reset </button>
					<a type="cancel" class="btn btn-primary btn-lg" value="cancel"  href="/salesExec/" >Cancel </a>
					<button type="submit" class="btn btn-primary btn-lg" > Submit </button>
						

	<br>
	<br>
	<br>
	<br>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}