<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}

			td, th {
			  border: 1px solid #dddddd;
			  text-align: center;
			  /*padding: 8px;*/
			  padding-top: 8px;
			  padding-bottom: 8px;
			}
			.title_middle{text-align: center;}
		</style>
	</head>
	<body>
			<h2 class="title_middle">Product Master Report</h2>
			<p class="title_middle">Product code : {{PCode}}<br>
			<p class="title_middle">Active: {{active}}<br>


		   </p><br>
		<table>
            <tr>
            	 <th >S.NO</th>
	            <th>PCode</th>
	            <th>PName</th>
	            <th>Document</th>
	            <th>ProdType</th>
	           <th>Cust Type</th>                            
	            <th>Start Date </th>
	            <th>End Date</th> 
	            <th>Unit Rate</th>
	            <th>Qty From</th>
	            <th>Qty TO</th>
	            
                       
			</tr>
			{% for pm in data %}
					<tr>

                        <td >{{ forloop.counter }}</td>     
						<td>{{pm.PCode}}</td>
						<td>{{pm.PName}}</td>
						<td>{{pm.document}}</td>
						<td>{{pm.prod_type}}</td>
						<td>{{pm.custCode}}</td>
						<td>{{pm.PStDate|date:'d-m-Y'}}</td>
						<td>{{pm.PEndDate|date:'d-m-Y'}}</td>
						<td>{{pm.unitRate}}</td>
						<td>{{pm.qty_from}}</td>
						<td>{{pm.qty_to}}</td>
						
                       
					</tr>
			{% endfor %}
		
	
		
		</table>
	</body>
</html>